@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");


#navLinks a {
    font-family: Raleway, sans-serif;

}

#navLinks a:hover {
    font-weight: 700;
}


#masthead {
    /* TODO: CHANGE BACKGROUND IMAGE*/
    background: #151515 url("https://aboualnaser.github.io/images/intro-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-bottom: 250px;
    padding-top: 200px;
}

.intro-lead{
    font-family: Montserrat, sans-serif;
    font-style: italic;
}

.intro-heading {
    font-size: 3.3rem;
}

.intro-subheading{
    font-family: 'Source Code Pro', monospace;

}

.profile-pic {
    width: 230px;
    display: block;
    margin: 0 auto;
}

.profile-text {
    display: flex;  
    align-items: center;
}
.profile-text p {
    /*align-items: center*/
}

img.skills {
    align-items: center;
    width: auto;
    max-height: 250px;
}

.compentencies .row .skill-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}