@import url('https://fonts.googleapis.com/css?family=Raleway:200,400');
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

#navBrand{
    font-family: 'Montserrat', monospace;
    font-style: italic;
    font-weight: bold;
}

a.nav-link {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

a.nav-link:hover {
    font-weight: 700;
}


#masthead {
    /* TODO: CHANGE BACKGROUND IMAGE*/
    background: #151515 url("../images/masthead-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-bottom: 250px;
    padding-top: 200px;
    text-shadow: 4px 4px 2px rgba( 0,  0,  0, 1);
}

.intro-heading {
    font-size: 4rem;
}

.intro-subheading{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.75rem;
}

.profile-pic {
    width: 230px;
    display: block;
    margin: 0 auto;
}

.profile-text p{
    display: flex;  
    align-items: center;
}
.profile-text p {
    /*align-items: center*/
}

img.skills {
    align-items: center;
    width: auto;
    max-height: 150px;
}

.compentencies .row .skill-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}