<!DOCTYPE html>
<html>
<head>
	<title><!-- {{ page.title }} --></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-light bg-light navbar-expand-md py-0 fixed-top"> 
		<div class="collapse navbar-collapse" id="navLinks">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="/" class="nav-link">HOME</a>
				</li>
				<li class="nav-item">
					<a href="/about" class="nav-link">ABOUT</a>
				</li>
				<li class="nav-item">
					<a href="/cv" class="nav-link">CV</a>
				</li>
				<li class="nav-item">
					<a href="/blog" class="nav-link">BLOG</a>
				</li>
			</ul>
		</div>
	</nav> <!-- end navbar -->
	
	<!-- <div class="container">
		{{ content }}
	</div> --><!-- /.container -->

<!-- LOREM [to delete] -->
  <div class="lorem">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aperiam animi recusandae, accusamus explicabo, reprehenderit dolore numquam ipsam officia voluptas unde mollitia vitae itaque, eveniet corporis debitis facilis temporibus nisi fuga! Cupiditate cum voluptatum ipsam asperiores iure voluptatibus totam iste delectus ratione, animi aspernatur magni assumenda ex rerum odio nam consequatur in quod. Consectetur accusantium quia dolorum, sapiente rerum nobis harum dolorem placeat illo, officia quibusdam adipisci. In exercitationem optio magnam eius ut, debitis quaerat hic odit maxime cum neque esse minima dignissimos voluptatem aperiam eligendi nobis commodi voluptate quidem! Architecto velit aliquid eius odio, incidunt. Maxime eius sunt temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aperiam animi recusandae, accusamus explicabo, reprehenderit dolore numquam ipsam officia voluptas unde mollitia vitae itaque, eveniet corporis debitis facilis temporibus nisi fuga! Cupiditate cum voluptatum ipsam asperiores iure voluptatibus totam iste delectus ratione, animi aspernatur magni assumenda ex rerum odio nam consequatur in quod. Consectetur accusantium quia dolorum, sapiente rerum nobis harum dolorem placeat illo, officia quibusdam adipisci. In exercitationem optio magnam eius ut, debitis quaerat hic odit maxime cum neque esse minima dignissimos voluptatem aperiam eligendi nobis commodi voluptate quidem! Architecto velit aliquid eius odio, incidunt. Maxime eius sunt temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aperiam animi recusandae, accusamus explicabo, reprehenderit dolore numquam ipsam officia voluptas unde mollitia vitae itaque, eveniet corporis debitis facilis temporibus nisi fuga! Cupiditate cum voluptatum ipsam asperiores iure voluptatibus totam iste delectus ratione, animi aspernatur magni assumenda ex rerum odio nam consequatur in quod. Consectetur accusantium quia dolorum, sapiente rerum nobis harum dolorem placeat illo, officia quibusdam adipisci. In exercitationem optio magnam eius ut, debitis quaerat hic odit maxime cum neque esse minima dignissimos voluptatem aperiam eligendi nobis commodi voluptate quidem! Architecto velit aliquid eius odio, incidunt. Maxime eius sunt temporibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima aperiam animi recusandae, accusamus explicabo, reprehenderit dolore numquam ipsam officia voluptas unde mollitia vitae itaque, eveniet corporis debitis facilis temporibus nisi fuga! Cupiditate cum voluptatum ipsam asperiores iure voluptatibus totam iste delectus ratione, animi aspernatur magni assumenda ex rerum odio nam consequatur in quod. Consectetur accusantium quia dolorum, sapiente rerum nobis harum dolorem placeat illo, officia quibusdam adipisci. In exercitationem optio magnam eius ut, debitis quaerat hic odit maxime cum neque esse minima dignissimos voluptatem aperiam eligendi nobis commodi voluptate quidem! Architecto velit aliquid eius odio, incidunt. Maxime eius sunt temporibus!
    </p>
  </div>
	<!-- LOREM [to delete] -->


	<!-- Footer -->
<footer class="page-footer font-small fixed-bottom pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Short about me</h5>
          <p><em>technology and engineering enthusiast. i also like food. and running. and water. and breathing, definitely breathing.</em></p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
              <li>
                <a href="#!">Blog</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/RCLU30/">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/luricky/">LinkedIn</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://rclu30.github.io/"> Ricky Lu</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
